@model XFramework.Model.UserInfo
<!DOCTYPE html>
<html>
<head>
    <title>管理员登录</title>
    <link href="/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        
        .form-signin
        {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading, .form-signin .checkbox
        {
            margin-bottom: 10px;
        }
        .form-signin .checkbox
        {
            font-weight: normal;
        }
        .form-signin .form-control
        {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus
        {
            z-index: 2;
        }
        .form-signin input[type="email"]
        {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: 10px;
        }
        .form-signin input[type="password"]
        {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post">
        <h2 class="form-signin-heading">
            请登录</h2>
        @Html.ValidationSummary()
        <label for="UserName" class="sr-only">
            Email：</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "email", placeholder = "Email address" })
        <label for="UserPwd" class="sr-only">
            密码：</label>
        @Html.PasswordFor(m => m.UserPwd, new { @class = "form-control", placeholder = "Password" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            登录</button>
        </form>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        if (top.location != this.location) {
            top.location.href = "/pagesadmin/account/login";
        }
</script>
</body>
</html>
