@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "类别列表";
}
@section header{
    <style type="text/css">
        #catTree ul{padding-left:15px; list-style:disc;}
        #catTree ul li{ line-height:20px;}
        ul,li{list-style:none;}
        li{line-height:15px;}
    </style>
}
<fieldset>
    <legend>类别列表</legend>
    <table>
        <tr>
            <th>请选择语言：</th>
            <td><select id="ddlLang">
                <option value="0">==请选择==</option>
                <option value="-1">中文</option>
                <option value="-2">英文</option>
            </select>&nbsp;&nbsp;<a href="add">添加类别</a></td>
        </tr>
        <tr>
            <td id="catTree" colspan="2"></td>
        </tr>
    </table>
</fieldset>
@section footer{
    <script type="text/javascript">
        var lang = @(Controleng.Common.CECRequest.GetQueryInt("lang", 0));
        $(function(){
            $('#ddlLang').on('change',function(){
                loadTree(this.value);
            });

            $('#ddlLang option').each(function(index,item){
                
            });

            loadTree(lang);
        });
        
        window.loadTree = function(lang){
            $.ajax({
                url: 'ajax',
                type: 'POST',
                data: { m: "treelist",lang:lang },
                success: function(data){
                    $('#catTree').html(data);
                }
            });
        }
    </script>
}

